.bg{
    position: fixed;
    background-image: url(../../assets/img/backgrounds/red-background.jpg);
    height: -webkit-fill-available;
    width: -webkit-fill-available;
}
.layer-right{
    position: fixed;
    right: 0;
    background-image: url(../../assets/img/layers/plus-dark-pattern.png);
    height: 165px;
    width: 90px;
}
.layer-top{
    position: fixed;
    right: 0;
    background-image: url(../../assets/img/layers/plus-dark-pattern.png);
    height: 85px;
    width: 174px;
}
.layer-left{
    position: fixed;
    bottom: 0;
    background-image: url(../../assets/img/layers/plus-dark-pattern.png);
    height: 165px;
    width: 90px;
}
.layer-bottom{
    position: fixed;
    bottom: 0;
    background-image: url(../../assets/img/layers/plus-dark-pattern.png);
    height: 82px;
    width: 170px;
}