<div id="myCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="500">
    <div class="carousel-inner">
        <div class="carousel-item active" title="Java">
            <img src="../../assets/img/logo/java.png">
        </div>
        <div class="carousel-item" title="Angular">
            <img src="../../assets/img/logo/angular.svg">
        </div>
        <div class="carousel-item" title="Spring">
            <img src="../../assets/img/logo/spring.png">
        </div>
        <div class="carousel-item" title="Spring Boot">
            <img src="../../assets/img/logo/boot.png">
        </div>
        <div class="carousel-item" title="Alfresco">
            <img src="../../assets/img/logo/alfresco.png">
        </div>
        <div class="carousel-item" title="Node JS">
            <img src="../../assets/img/logo/nodejs.svg">
        </div>
        <div class="carousel-item" title="Amazon Web Services">
            <img src="../../assets/img/logo/aws.png">
        </div>
    </div>
</div>